.long{
text-align: center;
}

.ingredients{
margin-left: 40px;
}
.instruction{
margin-left: 40px;
}
.sinigan{
width: 500px;
height: 400px;
margin-left: 1000px;
}
.source{
margin-left: 1500px;
}
.sinigang{
text-align: center;
}